.container {
  background-color: lightblue;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid black; 
  border-radius: 10px; 
  background-color: rgb(50, 50, 50);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
h1{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
}
.circle {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 5px solid black; 
}
.red{
  /* text-align: center;
  width: 150px;
  height: 150px;
  background-color: rgb(250, 7, 7);
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 400px;*/
  border-color: rgb(200, 0, 0);  
  background-color: rgb(250, 7, 7);
}
.yellow{
  /* text-align: center;
  width: 150px;
  height: 150px;
  background-color: rgb(241, 249, 13);
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 400px; */
  border-color: rgb(200, 200, 0);
  background-color: rgb(241, 249, 13);
}
.green{
  /* text-align: center;
  width: 150px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 400px; */
  border-color: rgb(0, 150, 0); 
  background-color: rgb(0, 200, 0);
}
.gray {
  background-color: rgb(180, 180, 180);
  border-color: rgb(100, 100, 100);
}

#button1{
  margin: 10px;
  text-align: center;
  height: 40px;
  width: 80px;
  font-size: large;
  background-color: rgb(167, 61, 31);
  color: rgb(17, 15, 15);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(23, 23, 23, 0.926);
  border: 3px solid black; 
}
#button2{
  margin: 10px;
  text-align: center;
  height: 40px;
  width: 80px;
  font-size: large;
  background-color: rgb(226, 242, 85);
  color: rgb(27, 22, 22);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(23, 23, 23, 0.926);
  border: 3px solid black; 
}
#button3{
  margin: 10px;
  text-align: center;
  height: 40px;
  width: 80px;
  font-size: large;
  background-color: rgb(68, 189, 40);
  color: rgb(14, 11, 11);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(23, 23, 23, 0.926);
  border: 3px solid black; 
}
#button1:hover{
  cursor: pointer;
}
#button2:hover{
  cursor: pointer;
}
#button3:hover{
  cursor: pointer;
}